<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Añadir tipología de motivo</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-inline justify-content-center">
            <div class="d-flex w-75 mb-3 mt-2 mx-auto">
                <div class="d-inline mb-2 spaceConfiguration">
                    <h6>Nombre</h6>
                    <input type="textarea" placeholder="Enfermedad" name="enfermedad" class="form-control" disabled>
                </div>
                <div class="d-inline ml-auto mb-2 spaceConfiguration">
                    <h6>Alias</h6>
                    <input type="textarea" placeholder="Alias" name="alias" class="form-control">
                </div>
            </div>
            <div class="d-flex w-75 mb-5 mx-auto">
                <div class="d-inline spaceConfiguration">
                    <h6>Tipo de motivo</h6>
                    <select name="tipoDeMotivo" class="form-control ng-pristine ng-valid" disabled>
                        <option value="ausencia">Ausencia</option>
                    </select>
                </div>
                <div class="d-inline ml-auto spaceConfiguration">
                    <h6>Contabilizar como</h6>
                    <select name="tipoDeContable" class="form-control ng-pristine ng-valid" disabled>
                        <option value="selecciona">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-center w-75 mx-auto">
                <div class="w-50">
                    <strong> Otras Opciones </strong>
                </div>
                <div class="w-50 d-flex">
                    <strong class="mx-auto"> Predefinido </strong>
                    <strong class="mx-auto"> Bloqueado </strong>
                </div>
            </div>
            <hr class="w-75">
            <div class="d-flex justify-content-center w-75 mx-auto">
                <div class="w-50">
                    <p>Remunerado</p>
                </div>
                <div class="w-50 d-flex justify-content-center">
                    <label class="mx-auto"><input type="checkbox" id="remuneradoEnfermedad" checked disabled></label>
                    <div class="custom-control custom-switch mx-auto">
                        <input type="checkbox" class="custom-control-input" id="justificanteSwitchEnfermedad2" disabled>
                        <label class="custom-control-label" for="justificanteSwitchEnfermedad2"></label>
                    </div>
                </div>
            </div>
            <hr class="w-75">
            <div class="d-flex w-75 mx-auto mb-5">
                <div class="w-50">
                    <p>Requiere justificante</p>
                </div>
                <div class="w-50 d-flex">
                    <label class="mx-auto"><input type="checkbox" id="justificanteEnfermedad" disabled></label>
                    <div class="custom-control custom-switch mx-auto">
                        <input type="checkbox" class="custom-control-input" id="justificanteSwitchEnfermedad1" disabled>
                        <label class="custom-control-label" for="justificanteSwitchEnfermedad1"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #contenidoResultado let-modal>
    <div class="modal-header justify-content-center">
        <h5>Ausencia - Enfermedad
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body justify-content-center">
        <p class="text-decoration-underline">hosting > Enfermedad</p>
    </div>
</ng-template>


<button class="button buttonConfiguration fa fa-eye mr-2" href="" data-toggle="modal"
    (click)="modalResult(contenidoResultado)" data-target="#agreement-events-type-summary">
</button>
<button class="button buttonConfiguration fa fa-pen" href="" data-toggle="modal" (click)="openModal(contenido)" data-target="#agreement-events-type-add">
</button>
