<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> {{'POLITICADEPRIVACITAT'|translate}} </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a routerLink="/index">Landrick</a></li>
                <li class="breadcrumb-item"><a href="#">Page</a></li>
                <li class="breadcrumb-item"><a href="#">Utility</a></li>
                <li class="breadcrumb-item active" aria-current="page">Privacy</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h5 class="card-title">{{'QUIESELRESPONSABLE'|translate}}</h5>
            <p class="text-muted">{{'SOBRELABASEESTABLEIX1'|translate}}<a href="https://timeclick360.com">https://timeclick360.com</a>{{'SOBRELABASEESTABLEIX2'|translate}}</p>
            <p class="text-muted">
              GIROHSOTING, S.L. <br>
              NIF B55363576<br>
              C/ Riu Freser, 25, de Girona<br>
              contabilidad@girohosting.com<br>
              679562291.
              </p>          
            <h5 class="card-title">{{'AMBQUINESFINALITATS'|translate}}</h5>
            <ul class="list-unstyled text-muted">
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'FINALITAT1'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'FINALITAT2'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'FINALITAT3'|translate}}
              </li>
            </ul>

            <h5 class="card-title">{{'LEGITIMACIOTRACTAMENT'|translate}}</h5>
            <p class="text-muted">
              {{'GENERALMENTES'|translate}}<br>{{'INTERESLEGITIM'|translate}}
            </p>

            <h5 class="card-title">{{'AQUILICOMUNICAREM'|translate}}</h5>
            <p class="text-muted">
              {{'LESSEVESDADESCEDIRAN'|translate}}
            </p>
          
            <h5 class="card-title">{{'PROVENENLESDADES'|translate}}</h5>
            <p class="text-muted">
              {{'TRACTAMENTPROVENENDELPROPI'|translate}}
            </p>
            <ul class="list-unstyled text-muted">
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'DADEESIDENT'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'DADESECONO'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'INFOCOMER'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'ADRPOSTALS'|translate}}
              </li>
            </ul>

            <h5 class="card-title">{{'DURANTQUANTTEMPS'|translate}}</h5>
            <p class="text-muted">
              {{'SERANMANTINGUTSMENTRE'|translate}}
            </p>

            <h5 class="card-title">{{'QUINSSONELSDRETS'|translate}}</h5>
            <ul class="list-unstyled text-muted">
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'SERANMANTINGUTSMENTRE'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'ACCEDIRALESSEVES'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'RECTIFICACIODELESDADES'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'SUPRESSIODELESDADES'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'LIMITACIODELTRACTAMENT'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'FACILITATSENUNFORMAT'|translate}}
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'RECLAMACIODAVANT1'|translate}}<a href="https://www.aepd.es/">https://www.aepd.es/</a>{{'RECLAMACIODAVANT2'|translate}} 
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                {{'REVOCATCONSENTIMENT'|translate}}
              </li>
            </ul>

            <h5 class="card-title">{{'EXERCIRELSSEUSDRETS'|translate}}</h5>
            <p class="text-muted">
              {{'INFORMENQUEPODRA'|translate}}
            </p>
            <p class="text-muted">
              {{'DETERMINATSSUPOSITS'|translate}}
            </p>
            <p class="text-muted">
              {{'INFORMALINTERESSAT'|translate}} <a href="https://www.aepd.es/reglamento/derechos/index.html">https://www.aepd.es/reglamento/derechos/index.html</a>
            </p>
            <p class="text-muted">
              {{'DUBTEODESITJA'|translate}}
            </p>

          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Privacy -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
