<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/index" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="cover-user bg-white">
  <div class="container-fluid px-0">
    <div class="row no-gutters position-relative">
      <div class="col-lg-4 cover-my-30 order-2">
        <div class="cover-user-img d-flex align-items-center">
          <div class="row">
            <div class="col-12">
              <div class="card login_page border-0" style="z-index: 1">
                <div class="card-body p-0">
                  <h4 class="card-title text-center">{{'ESTABPASS'|translate}}</h4>
                  <form #formSetPass="ngForm" (ngSubmit)="register();formSetPass.reset();" class="login-form mt-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group position-relative">
                          <label>{{'CONTRASENYA'|translate}} <span class="text-danger">*</span></label>
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="password" #inputPassword="ngModel" [(ngModel)]="password" class="form-control pl-5" name="password" required="">
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-12">
                        <div class="form-group position-relative">
                          <label>{{'VALIDATION'|translate}} <span class="text-danger">*</span></label>
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="password" #inputValidation="ngModel" [(ngModel)]="validation" class="form-control pl-5" name="validation" required="">
                        </div>
                      </div>
                      <!--end col-->

                      <div class="col-md-12">
                        <button class="btn btn-primary btn-block" [disabled]="!formSetPass.form.valid || password != validation">Enviar</button>
                      </div>
                      <!--end col-->

                      <div class="mx-auto">
                        <p class="mb-0 mt-3"><small class="text-dark mr-2">{{'JATENS'|translate}}</small> <a
                            routerLink="/auth-cover-login" class="text-dark font-weight-bold">{{'INICIEUSESSIO'|translate}}</a></p>
                      </div>
                    </div>
                    <!--end row-->
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div> <!-- end about detail -->
      </div> <!-- end col -->

      <div class="col-lg-8 offset-lg-4 padding-less img order-1"
        style="background-image:url('assets/images/user/02.jpg')" data-jarallax='{"speed": 0.5}'></div>
      <!-- end col -->
    </div>
    <!--end row-->
  </div>
  <!--end container fluid-->
</section>
<!--end section-->
<!-- Hero End -->
