.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.fondo{
    width: 100%;
    display: flex;
    align-items: center;
}



.flex-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#tablon {
    font-size: 14px;
    width: 95%;
    background-color: #fdfbfb;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
}

#cargo {
    font-size: 14px;
    background-color: #fdfbfb;
    border-style: solid;
    height: 15%;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;

   
}

#solicitud {
    font-size: 14px;
    background-color: #fdfbfb;
    border-style: solid;
    height: 11%;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
}

#motivo {
    font-size: 14px;
    background-color: #fdfbfb;
    border-style: solid;
    height: auto;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
   
}

#btnmotivo {
    float: right;
}

html, body, section {
    height: 100%;
}

#container {
    display: flex;
}

#leftSide {
    display:inline-block;
    flex: 2 1 0;
    justify-content: center;
}

#rightSide {
    display:inline-block;
    flex: 2 1 0;
    justify-content: center;
    
}

#hora {
    margin-left: 15px;
}

.block-ajustes>div fieldset {
    padding-top: 18px;
    padding-bottom: 25px;
}

fieldset, legend {
    padding: 0;
    border: 0;
}

fieldset {
    margin: 0;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
    box-sizing: border-box;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

/* .hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    width: 100% !important;
} */

.fa-eye, .fa-pen {
    color: #5e666f;
    padding: 2px;
}

#main .container .table td {
    border-top: none;
    border-bottom: 1px solid #f4f4f4;
    padding: 8px 0;
    font-size: 14px;
    color: #5e666f;
    vertical-align: middle;
    text-align: left;
}

.table tbody>tr>td, .table tbody>tr>th, .table tfoot>tr>td, .table tfoot>tr>th, .table thead>tr>td, .table thead>tr>th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
td, th {
    color: #5e666f;
    font-family: Fira Sans,Arial,Helvetica,sans-serif!important;
    font-style: normal;
}

button {
    color: #00B1FF;
}

.fea {
    padding: 3px 2px;
}
