.fea {
    padding-left: 2px;
}

.modal-body {
    min-height: 100px;
}

.modal-body {
    position: relative;
    padding: 20px;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.ajustes-dialog form {
    line-height: 30px;
    color: #5e666f;
}
.modal-content {
    padding: 36px!important;
    border-radius: .8rem;
    font-size: 12px;
}
body {
    background: #fff;
    color: #5e666f;
    font-size: 16px;
    font-family: Fira Sans,Arial,Helvetica,sans-serif!important;
    font-style: normal;
    font-weight: 400;
}
body, td, th {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    background-color: #fff;
    color: #000;
    scrollbar-3dlight-color: #f0f0ee;
    scrollbar-arrow-color: #676662;
    scrollbar-base-color: #f0f0ee;
    scrollbar-darkshadow-color: #ddd;
    scrollbar-face-color: #e0e0dd;
    scrollbar-highlight-color: #f0f0ee;
    scrollbar-shadow-color: #f0f0ee;
    scrollbar-track-color: #f5f5f5;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.428571429;
    color: #333;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 16px;
}       