.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
pointer-events: none;
}

#seccion2{
    margin-top: 120px !important;
}

#principal{
    background-color: #fdfbfb !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 10px !important;
    border-color: gray !important;
    width: 80% !important;
}

thead th {
    font-size: 1em;
    padding: 9.4px !important;
    height: 15px;
  }