
.fea {
    padding-left: 2px;
}

/* .modal-header .modal-title {
    padding-left: 340px;
    padding-right: 34px;
} */
.modal-title {
    text-align: center;
    border: none;
}

.modal-header {
    border-bottom: 1px solid #f4f4f4;
}
.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}