#document:hover{
    border-color: blue !important;
    border-style: dashed !important;
    background-color: white !important;
}

#document{
    background-color: white !important;
}


#requadre{
    width: 60% !important;
    height: 100% !important;
    margin-left: 25% !important;
    padding: 10% !important;
    border-style: dashed !important;
}